/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar__title {
  color: #5bb06c;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 1rem .8rem;
  text-transform: uppercase;
}