// 全体的なもの
// 左右マージン
$sidemargin: 15px;

// bodyの色
$body-bgcolor: #eaf5f2;
$body-textcolor: #444;

// ヘッダ
$header-bgcolor: rgba(0, 0, 0, 0.6);
$header-textcolor: #f6f6f6;
$brand-bgcolor: rgb(72, 130, 250);

// ページタイトル
$pagetitle-bordercolor: #bbb;

// フッタ
$footer-bgcolor: darken($header-bgcolor, 10%);

// ログインフォームの幅
$login-form-width: 380px;
