/* body関連 */
html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: Avenir, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, Roboto, '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: $body-bgcolor;
  color: $body-textcolor;
  line-height: 1.8;
  padding-left: $sidemargin;
  padding-right: $sidemargin;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 汎用クラス */
.margin-top-md {
  margin-top: 1rem;
}
.margin-top-lg {
  margin-top: 2rem;
}

.margin-right-md {
  margin-right: 1rem;
}

/* レイアウト */
.wrap {
  padding-top: calc(50px + 1rem);
  flex: 1 0 auto;
}
.content {
  flex: 1;
  padding: 0 5rem;
}

/* ヘッダ関連 */
.navbar {
  padding-right: $sidemargin;
  margin-bottom: 0;
  .btn:hover {
    color: $header-bgcolor;
    background-color: #FFF !important;
  }
  color: $header-textcolor;
}
.navbar-inverse {
  background-color: $header-bgcolor;
  border-bottom: none;
  box-shadow: 0 0 3px rgba(0,0,0, .6);
  .navbar-brand {
    color: $header-textcolor;
    padding-top: 5px;
  }
}
.navbar-form {
  float: right !important;
  margin-right: -15px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  border-top: none;
  box-shadow: none;
}
/* フッタ */
footer {
  flex-shrink: 0;
}

footer.navbar {
  margin-top: 2rem;
  margin-left: -1 * $sidemargin;
  margin-right: -1 * $sidemargin;
  background-color: $footer-bgcolor;
  display: flex;
  align-items: center;
  .container-fluid {
    width: 100%;
  }
  border-bottom: none;
}

/* ページネーション */
.pagination {
  :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .prevLink, .nextLink, .step, .currentStep {
    padding: 6px 12px;
    margin-left: -1px;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .currentStep {
    color: #fff;
    background-color: #3ac0ff;
    border-color: #3ac0ff;
  }

  .currentStep + a {
    border-left-color: #3ac0ff;
  }
}
